.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 103px 0;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 560px) {
  .container {
    padding: 25px 51px 0;
  }
}
@media (max-width: 420px) {
  .container {
    padding: 15px 15px 0;
  }
}
